body {
  font-family: Arial;
  height: 100%;
  margin: 1px;
}

a {
  color: maroon;
  font-size: 18px;
  text-decoration: none;
}

#logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  min-width: 100px;
  height: 100px; /* To match .header > .link height */
}

.links {
  display: flex;
  justify-content: space-around;
}

.sep {
  border: 1px solid maroon;
  margin: 0px;
}

.header {
  width: 100%;
  display: flex;
}

.header > .link {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  flex-direction: column;
}

.header > .link:hover {
  filter: brightness(200%);
  background-color: #F36D6D;
}

.selected {
  font-weight: 600;
  text-decoration: underline;
}

.pagebody {
  min-height: 600px;
  margin: 0px 15px;
}

.para {
  line-height: 1.6;
  text-indent: 40px;
}

.pageimg {
  height: 400px;
  width: 600px;
}