body {
  font-family: Arial;
  height: 100%;
  margin: 1px;
}

a {
  color: maroon;
  font-size: 18px;
  text-decoration: none;
}

#logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100px;
  min-width: 100px;
  height: 100px; /* To match .header > .link height */
}

.sep {
  border: 1px solid maroon;
  margin: 0px;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
}

.header > .link {
  text-align: center;
  display: flex;
  justify-content: center;
  width: inherit;
  flex-direction: column;
}

.header > .link:hover {
  filter: brightness(200%);
  background-color: #F36D6D;
}

.selected {
  font-weight: 600;
  text-decoration: underline;
}

.pagebody {
  min-width: 850px;
  min-height: 600px;
  margin: 50px 50px;
  display: flex;
}

.para {
  line-height: 1.6;
}

.pageimg {
  height: 400px;
  width: 600px;
}

.pageleft + .pageright {
  margin-left: 20px;
}

.practices {
  border: 1px dotted gray;
  background-color: pink;
  width: 500px;
  margin: auto;
  padding: 10px;
}

.practices > table {
  border-collapse: collapse;
  margin: auto;
}

.practices > table > caption {
  font-weight: 600;
}

.practices td, .practices th {
  border: 1px solid black;
  padding: 5px;
}